html, body {
  background: #dddddd;
}

.container {
  border: 1px solid #333333;
  background: #fff;
  margin: 5vh 5vw;
  width: 90vw;
  min-height: 90vh;
  padding: 1rem 2rem;
  box-sizing: border-box;
  ul.list {
    padding: 0;
    margin: 0;
    text-indent: 0;
    clear: both;
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
    li.list-item {
      float: left;
      width: 10rem;
      min-height: 10rem;
      background: #BAEFFF;
      list-style: none;
      margin: 0 1rem 1rem 0;
      padding: 1rem;
    }
    li.add-item {
      float: left;
      width: 10rem;
      min-height: 10rem;
      background: #dedede;
      list-style: none;
      margin: 0;
      padding: 1rem;
      text-align: center;
      vertical-align: middle;
      color: #333333;
      cursor: pointer;
      &:hover {
        background: #BAFFCA;
        text-decoration: underline;
      }
    }
  }
}
